

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  
  <body>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login-container">
          <div class="login-box">
            <h2>Iniciar sesión</h2>
      
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="username" nzRequired><i class="fas fa-user"></i> USUARIO:
              </nz-form-label>
              <nz-form-control [nzSpan]="24" [nzErrorTip]="'El nombre de usuario es requerido.'">
                <input nz-input id="username" formControlName="username" />
              </nz-form-control>
            </nz-form-item>
      
            <nz-form-item>
              <nz-form-label [nzSpan]="24" nzFor="password" nzRequired><i class="fas fa-lock"></i> CONTRASEÑA:
              </nz-form-label>
              <nz-form-control [nzSpan]="24" [nzErrorTip]="'La contraseña es requerida.'">
                <input nz-input type="password" id="password" formControlName="password" />
              </nz-form-control>
            </nz-form-item>
      
            <button nz-button nzType="primary" [disabled]="loginForm.invalid" htmlType="submit" class="btn-submit">
                Iniciar sesion
            </button>
          </div>
        </div>
      </form>
      
  </body>

